# Based on https://github.com/actions/starter-workflows/blob/main/ci/python-publish.yml

name: Upload Python Package

on:
  release:
    types: [published]

# Ensure GH_TOKEN has permissions to upload artifact
permissions:
  contents: write

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/imcar

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/

  build-executables:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libxcb-icccm4 \
            libxcb-image0 \
            libxcb-keysyms1 \
            libxcb-render-util0 \
            libxcb-xinerama0 \
            libxcb-xkb1 \
            libxcb-shape0 \
            libxkbcommon-x11-0

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install .

      - name: Build executable
        run: |
          cd pyinstaller
          pyinstaller imcar.spec

      - name: ZIP & upload result (Windows)
        if: runner.os == 'Windows'
        run: |
          cd pyinstaller
          cd dist
          Compress-Archive -Path * -DestinationPath imcar-windows.zip
          gh release upload ${{github.event.release.tag_name}} imcar-windows.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: ZIP & upload result (Linux)
        if: runner.os != 'Windows'
        run: |
          cd pyinstaller
          cd dist
          zip -r imcar-linux.zip *
          gh release upload ${{github.event.release.tag_name}} imcar-linux.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
