# Based on https://github.com/actions/starter-workflows/blob/main/ci/python-publish.yml

name: Upload Python Package

on:
  release:
    types: [published]

# Ensure GH_TOKEN has permissions to upload artifact
permissions:
  contents: write

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/imcar

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/

  build-linux-executable:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t imcar-builder:ubuntu20.04 -f .github/Dockerfile.ubuntu20.04 .

      - name: Build executable in Docker container
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            imcar-builder:ubuntu20.04 \
            bash -c "
              python3.10 -m pip install pyinstaller && \
              python3.10 -m pip install . && \
              cd pyinstaller && \
              python3.10 -m PyInstaller imcar.spec
            "

      - name: ZIP & upload result
        run: |
          cd pyinstaller/dist
          zip -r imcar-linux.zip *
          gh release upload ${{github.event.release.tag_name}} imcar-linux.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-windows-executable:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install .

      - name: Build executable
        run: |
          cd pyinstaller
          pyinstaller imcar.spec

      - name: ZIP & upload result
        run: |
          cd pyinstaller/dist
          Compress-Archive -Path * -DestinationPath imcar-windows.zip
          gh release upload ${{github.event.release.tag_name}} imcar-windows.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
